@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
	font-family: Fjalla One;
}

body {
    border: 0;
    margin: 0;
    background-image: url(osh/fundoOff22.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.menuPR {
    font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #9694DE;
	height: 80px; 
	position: sticky;
	top: 0;
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

li {
	display: inline;
}

li a {
	display: inline;
	color: white;
	text-decoration: underline;
}

ul {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: none;
}

li {
	float: left;
    color: white;
}

/* LOGO */
.BE {
    color: white;
    font-size: 50px;
    position: absolute;
    margin: 0 18px 0 20px;
}

.textLG {
    width: 500px;
    height: 50px;
    position: absolute;
    margin: 10px 18px 0 0;
    text-decoration: none;
}

.img-paw {
    width: 60px;
    height: 60px;
    margin: 10px 18px 0 0;
}

/* PERFIL */
.droppu {
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 20px;
}

.droppu {
    position: relative;
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover .dropdownPU:hover .droppu {
    background-color: #9794DE;
}

.droppu-content {
    display: none;
    position: fixed;
    right: 5px;
    top: 70px;
    background-color: #CCCBFB;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.droppu-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.droppu-content a:hover {
    background-color: #9694DE;
}

.dropdownPU:hover .droppu-content {
    display: block;
}

.droppu {
    transition-duration: 0.5s;
}
  
.droppu:hover {
    background-color: white;
    color: #9794DE;
}

/* MENU */
.dropme {
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 20px;
}

.dropme {
    position: relative;
    display: inline-block;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover .dropdownME:hover .dropme {
    background-color: #9794DE;
}

.dropme-content {
    display: none;
    position: fixed;
    top: 70px;
    background-color: #CCCBFB;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropme-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropme-content a:hover {
    background-color: #9694DE;
}

.dropdownME:hover .dropme-content {
    display: block;
}

.dropme {
    transition-duration: 0.5s;
}
  
.dropme:hover {
    background-color: white;
    color: #9794DE;
}

/* PESQUISE */
.search-box {
    margin-top: 15px;
    margin-left: 0;
    margin-bottom: 10px;
    margin-right: 20px;
    height: 20px;
}

.search-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.search-box {
    transition-duration: 0.5s;
}
  
.search-box:hover {
    background-color: white;
    color: #9694DE;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #9694DE;
    font-size: 20px;
    line-height: 40px;
    width: 0;
}

.search-btn {
    border-radius: 50%;
}

.search-box:hover > .search-txt {
    width: 180px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    color: #9694DE;
}

::placeholder {
    color: #9694DE;
}

.img-lupa {
    width: 25px;
    height: 25px;
}

/* LOGIN*/
.cadastro {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.fraseCDT {
    color: #333333;
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
    margin-top: 0;
}

.caixa-cadastro {
    background: white;
    width: 1000px;
    height: 680px;
    border-radius: 20px;
    border: 2px solid #CCCBFB;
    margin-left: 174px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}

input[type=file] {
    display: none;
}

label[for=fileLP] {
    padding: 0;
    margin-top: 0;
    cursor: pointer;
}

.PROicon {
    color: #333333;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

form input[type=text] {
    outline: unset;
    padding: 20px;
    width: 760px;
    border-radius: 20px;
    border: 2px solid #CCCBFB;
    margin-bottom: 40px;
}

form input[type=email] {
    outline: unset;
    padding: 20px;
    width: 760px;
    border-radius: 20px;
    border: 2px solid #CCCBFB;
    margin-bottom: 40px;
}

form input[type=password] {
    outline: unset;
    padding: 20px;
    width: 760px;
    border-radius: 20px;
    border: 2px solid #CCCBFB;
    margin-bottom: 40px;
}

form ::placeholder {
    color: black;
}

form button[type=submit] {
    outline: unset;
    padding: 20px;
    width: 800px;
    cursor: pointer;
    color: white;
    font-size: 28px;
    background: #9694DE;
    border-radius: 20px;
    border: 2px solid #9694DE;
}

/* RODAPÉ */
footer {
    background-color: #9694DE;
    color: white;
    padding: 40px;
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
}

.rodapeLG {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer .listRDP {
    display: inline-block;
    margin: 0 10px 0 0;
}

footer .listRDP  {
    color: white;
    font-size: 20px;
    transition: color 0.2s;
}

footer .listRDP a:hover {
    color: #3f3f75;
}

footer ul li a {
    margin-left: 10px;
    margin-right: 10px;
}

.frasePROMO {
    font-size: 16px;
    text-align: center;
}